*{transition:.3s linear;}
body {
  margin: 0;
  background: #F0F0F0;
  font-family: Poppins;
  color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #1c1e1d;
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  margin-left: 40px;
 
}


.containerHead2 {
  position: relative;
    display: flex;
    align-items: center;
    padding-left: 30vw;
    column-gap: 2vh;
}

.container {
  position: relative;
  display: flex;
  height: fit-content;

}
.container2 {
  position: relative;
  display: flex;
  max-height: 800px; 
 }

 .container3 {
  position: relative;
    display: flex;
    height: 60vh;
 }

 .container39 {
  position: relative;
    display: flex;
    height: 15vh;
    text-align: center;
    justify-content: center;
    margin-top: 8vh;
 }

 .container40 {
  position: relative;
  display: flex;
  height: 40vh;
  align-items: baseline;
 }

 .container41 {
  position: relative;
    display: flex;
    max-width: 33%;
    flex-direction: column;
    align-items: center;
 }
 .container42 {
  position: relative;
    display: flex;
    max-width: 34%;
    flex-direction: column;
    align-items: center;
 }
 .container43 {
  position: relative;
    display: flex;
    max-width: 33%;
    flex-direction: column;
    align-items: center;

 }

 .container5 {
  position: relative;
    display: flex;
    height: 60vh;
 }

 .container23 {
  position: relative;
  display: flex;
  background-color: white; 
 }
 .container59 {
  position: relative;
    display: flex;
    height: 15vh;
    text-align: left;
    margin-top: 10vh;
    margin-left: 10vw;
    
 }
 .container60 {
  position: relative;
  display: flex;
  height: 45vh;
  margin-left: 10vw;
  margin-right: 10vw;
 }

 .container61{
  background-image: url(../img/61.png);
    min-width: 25vw;
    min-height: 100%;
    margin-left: auto;
    margin-right: 30px;
    background-size: contain;
    background-repeat: no-repeat;
 }

 .container62{
  background-image: url(../img/62.png);
    min-width: 25vw;
    min-height: 100%;
    margin-left: auto;
    margin-right: 30px;
    background-size: contain;
    background-repeat: no-repeat;
 }

 .container63{
  background-image: url(../img/63.png);
    min-width: 25vw;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
 }

 .container64 {
  position: relative;
    display: flex;
    height: 10vh;
    padding-top: 30px;
    padding-left: 45vw
 }

 .container69{
  position: relative;
    display: flex;
    height: fit-content;
    background: white;
 }

 .container70 {
  position: relative;
    display: grid;
    height: fit-content;
    background-color: white;
    grid-template-columns: 50vh 50vh;
    grid-template-rows: auto auto auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    row-gap: 20px;
 }

 .container70text {
  position: relative;
    display: flex;
    height: 45vh;
    background-color: white;
    padding-top: 10vh;
  
 }

 .container71 {
  position: relative;
  display: flex;

}

.container72 {
  position: relative;
  display: flex;

}
.container73 {
  position: relative;
  display: flex;

}
.container74 {
  position: relative;
  display: flex;
}
.container75 {
  position: relative;
  display: flex;

}

.container8{
  position: relative;
    display: flex;
    height: fit-content;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 16vh;
    background-color: #e0bf9a
 }

header {
  padding: 20px;
    font-family: Poppins;
    background: #ffffff;
    color: black;
    position: relative;
    display: flex;
}
h2 {
  text-align: center;
}

h4 {
  margin: auto;
  font-weight: lighter;
}


.content-wrap {
  padding: 20px;
  margin-bottom: 20px;
 
}
aside {
  padding: 20px;
  margin-bottom: 20px;
  background: white;
  border: 2px solid #FF9100;
}
footer {
  padding: 20px;
  background-color: #F0F0F0;;
}

@media (min-width:768px) {
  .main-content {display: flex; flex-direction: column;}
  .content-wrap {
    width: calc(100% - 300px);
    margin-right: 20px;
  }
  aside {width: 300px;}
}
/* CGF */
a:link {
  color: black;
  text-decoration: none;
  font-family: Poppins;
}

a:hover {
  text-decoration: underline;
}
a:active {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: none;
}

.boxHead {
    position: relative;
    display: flex;
    font-size: xx-large;
    padding-left: 10vw;
    font-weight: bold;
}
.box1image {
  position: relative;
    display: block;
    background-image: url(../img/1.png);
    width: 70vw;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
.box1text{
  position: relative;
    display: block;
    padding-left: 10vh;
    padding-top: 10vh;
}

.box1texthead2{
  text-align: left;
  font-size: 60pt;
}
.box2text {
  
  background-color: white;
  text-align: center;
  vertical-align: middle;
  text-align: left;
  padding-top: 5%;
  padding-bottom: 8%;
  padding-left: 40vh;
  padding-right: 40vh;
}

.box2textlow {
text-align: left;
font-size: large;

}

.box2textlowhead {
  text-align: left;
  font-size: larger;
  font-weight: bold;
  }

.box3image {
  position: relative;
    object-fit: cover;
    background-image: url(../img/2.png);
    background-size: cover;
    min-width: 100%;
}

.box3text {
  position: absolute;
  top: 45%;
  left: 80%;
  margin-right: 5vw;
}


.box4text{
  position: relative;
  display: block;
}

.box41image {
  background-image: url(../img/41.png);
    background-size: contain;
    min-height: 130px;
    min-width: 135px;
    margin: auto;
    background-repeat: no-repeat;
}

.box41text{
  text-align: center;
}

.box42image {
  background-image: url(../img/42.png);
    background-size: contain;
    min-height: 130px;
    min-width: 135px;
    margin: auto;
    background-repeat: no-repeat;
}

.box42text{
  text-align: center;
}
.box43image {
  background-image: url(../img/43.png);
    background-size: contain;
    min-height: 130px;
    min-width: 135px;
    margin: auto;
    background-repeat: no-repeat;
}

.box43text{
  text-align: center;
}
.box5image {
  position: relative;
    object-fit: cover;
    background-image: url(../img/3.png);
    background-size: cover;
    min-width: 100%;
}
.box5head {
  margin: auto;
  font-weight: bolder;
}

.box5text {
  position: absolute;
  top: 50%;
  left: 10%;
  max-width: 300px;
}

.box6head1 {
  text-align: left;
  font-weight: bold;
}
.box6text {
  text-align: left;
  font-size: xx-large;
}

.box62text {
  text-align: left;
    font-size: larger;
    margin-left: 40px;
    margin-top: 40px;
    font-weight: bold;
}

.box62head {
  text-align: left;
    font-weight: bold;
    font-size: medium;
}

.box7text {
  background-color: white;
    text-align: left;
    margin-left: 16vh;
}

.box7head {
  text-align: left;
    font-weight: lighter;
    font-size: xxx-large;
}

.box71image {
  position: relative;
  display: flex;
  background-image: url(../img/71.png);
  background-size: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
 }

.box71text {
  text-align: left;
    font-size: large;
    margin-left: 40px;
    margin-top: 40px;
    font-weight: normal;
}

.box71head {
  text-align: left;
    font-weight: bold;
    font-size: xx-large;
}

.box72image {
  position: relative;
    display: flex;
    background-image: url(../img/72.png);
    background-size: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
 }

.box72text {
  text-align: left;
    font-size: large;
    margin-left: 40px;
    margin-top: 40px;
    font-weight: normal;
}

.box72head {
  text-align: left;
    font-weight: bold;
    font-size: xx-large;
}

.box73image {
  position: relative;
  display: flex;
  background-image: url(../img/73.png);
  background-size: cover;
  border-radius: 50%;
  width: 150px;
    height: 150px;
 }

.box73text {
  text-align: left;
    font-size: large;
    margin-left: 40px;
    margin-top: 40px;
    font-weight: normal;
}

.box73head {
  text-align: left;
    font-weight: bold;
    font-size: xx-large;
}

.box74image {
  position: relative;
  display: flex;
  background-image: url(../img/74.png);
  background-size: cover;
  border-radius: 50%;
  width: 150px;
    height: 150px;
 }

.box74text {
  text-align: left;
    font-size: large;
    margin-left: 40px;
    margin-top: 40px;
    font-weight: normal;
}

.box74head {
  text-align: left;
    font-weight: bold;
    font-size: xx-large;
}

.box75image {
  position: relative;
  display: flex;
  background-image: url(../img/75.png);
  background-size: cover;
  border-radius: 50%;
  width: 150px;
    height: 150px;
 }

.box75text {
  text-align: left;
    font-size: large;
    margin-left: 40px;
    margin-top: 40px;
    font-weight: normal;
}

.box75head {
  text-align: left;
    font-weight: bold;
    font-size: xx-large;
}

.box8text {
  position: relative;
  display: block;
  text-align: left;
  font-size: xxx-large;
  width: 40vw;
}

.box8head {
  position: relative;
    display: block;
    text-align: left;
    font-size: medium;
    
}

.box8text2 {
  position: relative;
    display: block;
    text-align: left;
    padding-left: 30vw;
    padding-top: 4vh;
}

.boxFtext {
  position: relative;
  display: block;
  text-align: left;
  font-size: medium;
  width: 40vw;
  padding-left: 16vh;

}

.boxFhead {
  position: relative;
    display: block;
    text-align: left;
    font-size: xx-large;
    
}

.boxFhead2 {
  position: relative;
    display: block;
    text-align: left;
    font-size: medium;
    
}

.footerpng {
  position: relative;
  display: flex;
  background-image: url(../img/footlog.png);
  background-size: contain;
  min-height: 10vh;
  min-width: 10vw;
  background-repeat: no-repeat;
  background-position: right;
}